#extends testing.templates.src.super_base
#implements dummy
#def foo()
    #super
    This is child foo
    #super()
    $self.bar(1234)
#end def
#def bar(arg): #super(arg=arg)
#def another_def(arg): #super(arg)
